.grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 200px 300px 400px 500px;  */

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 8 rows */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.side-bar-container {
  width: 25vw;
  grid-area: 1 / 1 / 6 / 2;
}

.side-bar {
  color: black;
  position: fixed;
}

.top-bar {
  margin: 0;
  color: black;
  height: 100%;
  grid-area: 1 / 2 / 2 / 6;
  /* border: purple 2px dotted; */
  /* background-color: purple; */
  margin-bottom: 5vh;
}

.sub-header {
  font-size: 5vh;
  font-weight: lighter;
}

.ExploreComponent {
  grid-area: 2 / 2 / 4 / 6;
  /* border: black 2px dotted; */
  /* background-color: yellow; */
  height: 100%;
}

.DiscoverComponent {
  grid-area: 4 / 2 / 6 / 6;
  /* border: black 2px dotted; */
  /* background-color: magenta; */
  height: 100%;
}

.globe-container {
  grid-area: 6 / 2 / 8 / 6;
  /* border: black 2px dotted; */
  /* background-color: green; */
  height: 100%;
}

.PlacesComponent {
  grid-area: 8 / 2 / 10 / 6;
  /* border: black 2px dotted; */
  /* background-color: cornflowerblue; */
  height: 100%;
}

.StaysComponent {
  grid-area: 10 / 2 / 12 / 6;
  /* border: black 2px dotted; */
  /* background-color: red; */
  height: 100%;
}

.TripsComponent {
  grid-area: 12 / 2 / 14 / 6;
  /* border: black 2px dotted; */
  /* background-color: orange; */
  height: 100%;
}
