.title {
  font-size: 13vh;
  margin-bottom: 15px;
}

.nav {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 9vh;
  list-style-type: none;
  padding-left: 0px;
  color: #ff00ff;
  width: 25vw;
  height: 100%;
}

a,
.title {
  color: grey;
}

a:hover,
.title:hover {
  color: white;
  background-color: black;
}

#selected a,
#selected .title,
#selected {
  color: white !important;
  background-color: black;
  font-weight: bold;
}

.logo {
  font-size: 8vh;
}

li {
  list-style-type: none;
  padding-left: 0px;
  text-decoration: none;
}

a {
  text-decoration: none;
}
